.main_container{
  height: 100vh;
  width: 100%;
  //width: 922px;
  //position: absolute;
  background-color: rgba(22, 34, 42, 1);
  //left: 238px;
}

.open{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 238px;
  background:
          radial-gradient(51.39% 74.65% at 50% 50%,
                  rgba(22, 34, 42, 0.18) 0%,
                  rgba(58, 96, 115, 0.51) 100%);
}

.gradient_container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 86px;
  background:
          radial-gradient(51.39% 74.65% at 50% 50%,
          rgba(22, 34, 42, 0.18) 0%,
          rgba(58, 96, 115, 0.51) 100%);
}

.category {
  margin-top: 152px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .sort{
    margin-right: 36px;
    cursor: pointer;
    .openSort{
      animation: rotate 0.3s linear forwards;
    }
    .closeSort{
      animation: rerotate 0.3s linear forwards;
    }
    span{
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #436E85;
    }
  }
  button{
    &:first-of-type{
      margin-left: 35px;
    }
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #436E85;
    margin-right: 26px;
    cursor: pointer;
  }
}

.containerSearch{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(-180deg);
  }
}
@keyframes rerotate {
  from{
    transform: rotate(-180deg);
  }
  to{
    transform: rotate(0deg);
  }
}
.newsMobile{
  display: none;
}

@media (max-width: 905px){
  .gradient_container{
    height: 100vh;
    width: 100%;
    padding: 52px 0 0 0 ;
    background:
            radial-gradient(99.39% 50.65% at 50% 50%,
            rgba(22, 34, 42, 0.18) 0%,
            rgba(58, 96, 115, 0.51) 100%);
  }
  .mainButtons, .sort{
    display: none;
    }
  .containerSearch{
    display: flex;
    margin-top: 23px;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    .newsMobile{
      display: block;
    }
    span{
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;
      color: #436E85;
    }
  }

}
